<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="hey" target="_blank">Hey You</a></button> <p>
    <button><a href="age_in" target="_blank">Age_in</a></button> <p>
    <button><a href="order_total" target="_blank">Order_total</a></button> <p>
    <button><a href="warmup-2/font_times" target="_blank">warmup-2/font_times</a></button> <p>
    <button><a href="logic-2/no-teen-sum" target="_blank">logic-2/no-teen-sum</a></button> <p>
    <button><a href="string-2/xyz-there" target="_blank">string-2/xyz-there</a></button> <p>
    <button><a href="list-2/centered-average" target="_blank">list-2/centered-average</a></button> <p>
</body>
</html>