<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <p>Sign Up Page</p>
        
        <label>
            <p>Email:</p>
            <input type="text">
        </label>
        <label>
            <p>Password:</P>
            <input type="text">
        </label>
        <label>
            <p>Confirm Password:</p>
            <input type="text">
        </label>
        <p>
        <button>Sign Up!</button>
    </form
</body>
</html>